.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  list-style: none;
  background-color: blanchedalmond;
}
.header > li {
padding: 5px;
}

 

.contentCenter {
  display: flex;
    justify-content: center
}

table,td,th {
  border : 1px solid black;
  padding: 5px;
}

.product{
  display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    margin: 20px;
}

a {
  text-decoration: none;
  color: rgb(85, 28, 160);
  font-weight: bolder;
}

a:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.headerNav{
  display: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
